.color-router-link {
    text-decoration: none;
    color: #212529;
}

.color-text-link {
    color: white;
    background-color: $cap-color;
}


.link-customized {
    @extend .color-router-link;
    &:hover {
        @extend .color-router-link;
        .card-body{
            @extend .color-text-link;
        }
    }
}

.remove-padding {
    padding-right: 2px;
    padding-left: 2px;
}

